
<html>

<head>


{% load dajaxice_templatetags %}

<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.js'></script>

<script type="text/javascript" src="/static/dajax/jquery.dajax.core.js"></script>


{% dajaxice_js_import %}


<script type="text/javascript">

function calculate(){
    Dajaxice.example.multiply(Dajax.process,{'a':$('#a').val(),'b':$('#b').val()})
}

</script>


</head>

<body>

<input type="text" value="5" id="a"> x
<input type="text" value="6" id="b"> =
<input type="text" value="" id="result">
<input type="button" value="Multiply!" onclick="calculate();">


</body>

</html>